---
import { Image } from 'astro:assets';
import heroImg from '../../assets/hero2-color.png';
---

<section class='hero-container'>
  <div class='wrapper-two'>
    <Image class='wrapper__image' src={heroImg} alt='woman' />
  </div>
  <div class='wrapper-one'>
    <div class='texts-container'>
      <h1 class='hero-header'>
        <span class='span-header'> Aloha</span>
         BEauty<span class='span-header'>Logic</span>
         Clinic
      </h1>
      <h2 class='hero-text'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </h2>
      <p class='hero-text'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat ad
        nemo repudiandae voluptatum porro inventore soluta ratione maxime
        debitis.
      </p>
      <a class='hero-link' href='#offers'> Sprawdź Ofertę</a>
    </div>
  </div>
</section>

<style>
  .hero-container {
    background-color: var(--second-pink);
    background-repeat: no-repeat;
    padding: 0 20px;
    padding-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .wrapper-two {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .wrapper-two img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
  }
  .wrapper-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-header {
    font-family: var(--logo-font);
    text-align: left;
    letter-spacing: 2.5px;
    line-height: 64px;
    font-weight: 700;
    color: var(--text-font);
    font-size: clamp(3.9rem, 7vw, 9rem);
    margin-bottom: 20px;
  }

  .span-header {
    font-size: clamp(3.9rem, 7vw, 9rem);
    color: var(--logo-color);
  }
  .texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
  }
  .texts-container :nth-child(3) {
    margin-bottom: 30px;
    color: grey;
  }
  .hero-text {
    text-align: left;
    font-family: var(--main-font);
    line-height: normal;
    color: var(--text-font);
    margin-bottom: 10px;
    max-width: 600px;
  }
  .hero-link {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    /* margin: auto; */
    text-align: center;
    padding: 14px 22px;
    background-color: transparent;
    color: var(--bg-white);
    box-shadow: 2px 7px 18px -12px rgba(87, 80, 86, 1);
    font-family: var(--main-font);
    background-color: var(--logo-color);
    border-radius: 10px;
    transition: 0.3s all ease;
  }
  .hero-link:hover {
  
    background-color: var(--main-pink);
  }
  @media (min-width: 900px) {
    .hero-container {
      flex-direction: row;
      gap: 40px;
      justify-content: center;
      padding: 0 60px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .hero-header {
      text-align: left;
      font-weight: 900;
      line-height: 96px;
      max-width: 800px;
    }
    .hero-text {
      text-align: left;
      max-width: 600px;
    }
    .hero-link {
      font-weight: 300;
    }
    .texts-container {
      margin-top: 60px;
      align-items: flex-start;
    }
    .wrapper-one {
      /* width: fit-content; */
      justify-content: flex-start;
      align-content: flex-start;
    }
    .wrapper-two {
      margin: 60px 0;
      order: 1;
      max-width: 600px;
      background-position: 70px center;
    }
  }
  @media (min-width: 2000px) {
    .wrapper-one {
      width: fit-content;
    }
  }
</style>
