---
---

<div class="hero-container">
    <div class="wrapper one">
      <h1 class="wrapper__header">
        <span class="wrapper__header wrapper__header-beauty">Beauty</span>
        <span class="wrapper__header wrapper__header-logic">Logic</span>
      </h1>
      <h2 class="wrapper__subheader">by Agata Pulchny</h2>
      <p class="wrapper__text">
        Odkryj piękno swojej natury z Beauty Logic. Nasz zespół specjalistów
        dąży do tego, aby pomóc Ci poczuć się jak najlepiej. Zaufaj Beauty
        Logic i pozwól nam wyjąć to, co najlepsze w Tobie.
      </p>
      <a class="button-link" href="#offers">
        <span class="wrapper__button">Sprawdź Ofertę</span>
      </a>
    </div>
    <div class="wrapper two">
      <img
        class="wrapper__image"
        src="./src/img/hero-img.png"
        alt="woman"
      />
    </div>
  </div>