---
import { Image } from 'astro:assets';
import model from '../../assets/model.webp';
---

<section class='hero-container'>
  <div class='wrapper-two'>
    <img class='wrapper__image' src="/model.webp" alt="woman">
    <!-- <Image class='wrapper__image' src={model} alt='woman' /> -->
  </div>
  <div class='wrapper-one'>
    <div class='texts-container'>
      <h1 class='hero-header'>
        <span class='span-header'> Aloha</span>
        BEauty<span class='span-header'> Logic</span>
        Clinic <span class='span-brand-name'>by Agata Ambroziak</span>
      </h1>
      <p class='hero-text'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </p>
      <p class='hero-text'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat ad
        nemo repudiandae voluptatum porro inventore soluta ratione maxime
        debitis.
      </p>
      <a class='hero-link' href='#offers'> Sprawdź Ofertę</a>
    </div>
  </div>
</section>

<style>
  .header-img {
    max-width: 350px;
    height: auto;
    border-radius: 40px;
    outline: 5px solid var(--logo-color);
    object-fit: contain;
    box-shadow: 12px 7px 18px -12px rgb(49, 48, 49);
    margin-bottom: 0px !important;
  }
  .hero-container {
    background-color: var(--bg-white);
    background-repeat: no-repeat;
    padding: 0 20px;
    padding-top: 114px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.7),
        hsla(0, 0%, 100%, 0.7)
      ),
      url('/tropic-mobile.webp');
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .wrapper-two {
    margin: auto;
    max-width: 40%;
    margin-top: 60px;
    margin-bottom: -60px;
  }
  .wrapper-two img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
  }
  .wrapper-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-header {
    font-family: var(--logo-font);
    text-align: center;
    letter-spacing: 3px;
    line-height: 64px;
    font-weight: 700;
    color: var(--text-font);
    font-size: clamp(3.9rem, 5vw, 6rem);
    position: relative;
    margin-bottom: 60px;
  }

  .span-header {
    font-size: clamp(4rem, 7vw, 8rem);
    color: var(--logo-color-dark);
    position: relative;
  }
  .span-brand-name {
    font-size: clamp(1.7rem, 2vw, 3rem);
    color: var(--logo-color-dark);
    font-family: var(--dance-font);
    letter-spacing: 0;
    margin-bottom: 0;
    line-height: normal;
    top: 90%;
    left: 31%;
    /* width: auto; */

    transform: rotate(-10deg);
    position: absolute;
  }
  .texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .hero-text:first-of-type {
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .hero-text {
    text-align: center;
    font-family: var(--main-font);
    line-height: normal;
    color: var(--text-font);
    margin-bottom: 20px;
    max-width: 600px;
    font-size: 1rem;
  }

  .hero-link {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    /* margin: auto; */
    text-align: center;
    padding: 14px 22px;
    background-color: transparent;
    box-shadow: 2px 7px 18px -12px rgb(0, 0, 0);
    font-family: var(--main-font);
    border: none;
    color: var(--bg-white);
    background-color: var(--logo-color-dark);
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s all ease;
  }
  .hero-link:hover {
    color: var(--bg-white);
    background-color: var(--main-pink);
  }
  @media (min-width: 900px) {
    .hero-container {
      flex-direction: row;
      justify-content: center;
      padding: 0 60px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(
          hsla(0, 0%, 100%, 0.5),
          hsla(0, 0%, 100%, 0.4)
        ),
        url('/tropic-mobile.webp');
      background-repeat: no-repeat;
    }
    .hero-header {
      text-align: left;
      font-weight: 900;
      line-height: 60px;
      /* max-width: 800px; */
      letter-spacing: 5px;
    }
    .hero-text {
      text-align: left;
      max-width: 600px;
      margin-bottom: 30px;
    }
    .hero-text:first-of-type {
      font-size: 1.5rem;
    }
    .hero-link {
      font-weight: 300;
    }
    .texts-container {
      margin-top: 60px;
      align-items: flex-start;
    }
    .wrapper-one {
      width: 60%;
      justify-content: flex-start;
      align-content: flex-start;
    }
    .wrapper-two {
      margin: 60px 0;
      margin-bottom: -100px;
      order: 1;
      max-width: 600px;
      background-position: 70px center;
    }
    .span-brand-name {
      top: 110%;
    }
  }
  @media (min-width: 2000px) {
    .wrapper-one {
      width: fit-content;
    }
  }
  @media (max-width: 1050px) {
    .header-img {
      display: none;
    }
  }
</style>
