---
import { Image } from 'astro:assets';
import heroImg from '../../assets/hero.png';
---

<div class='hero-container'>
  <div class='wrapper-two'>
    <Image class='wrapper__image' src={heroImg} alt='woman' />
  </div>
  <div class='wrapper-one'>
    <div class='texts-container'>
      <h1 class='hero-header'>
        <span> Aloha</span>
         BeautyLogic
        <span> Clinic</span>
      </h1>
      <p class='hero-text'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat ad
        nemo repudiandae voluptatum porro inventore soluta ratione maxime
        debitis.
      </p>
      <a class='hero-link' href='#offers'> Sprawdź Ofertę</a>
    </div>
  </div>
</div>

<style>
  .hero-container {
    background-color: var(--second-pink);
    /* background-image: url('../../assets/test3.jpg'); */
    background-repeat: no-repeat;
    padding: 0 60px;
    padding-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .wrapper-two {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .wrapper-two img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    box-shadow: 1px 4px 24px 0px rgba(228, 152, 154, 1);
    border-radius: 50px 5px 50px 5px;
  }
  .wrapper-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-header {
    font-family: var(--play-font);
    text-align: left;
    letter-spacing: -1.5px;
    line-height: 62px;
    font-weight: 800;
    color: var(--text-font);
    font-size: clamp(2.6rem, 5vw, 6rem);
    margin-bottom: 20px;
  }
  span {
    font-size: clamp(2.6rem, 5vw, 5rem);
    color: var(--main-pink);
  }
  .texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .hero-text {
    text-align: left;
    font-family: var(--main-font);
    line-height: normal;
    color: var(--text-font);
    font-style: italic;
    margin-bottom: 40px;
    max-width: 600px;
  }
  .hero-link {
    width: fit-content;
    /* margin: auto; */
    text-align: center;
    padding: 8px 25px;
    background-color: transparent;
    color: var(--text-font);
    outline: 1px solid var(--text-font);
    font-family: var(--main-font);
    border-radius: 20px;
    transition: 0.3s all ease;
  }
  .hero-link:hover {
    outline: none;
    color: var(--bg-white);
    background-color: var(--main-pink);
  }
  @media (min-width: 900px) {
    .hero-container {
      flex-direction: row;
      gap: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .hero-header {
      text-align: left;
      font-weight: 900;
      line-height: 64px;
      max-width: 600px;
    }
    .hero-text {
      text-align: left;
      max-width: 600px;
    }
    .hero-link {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .texts-container {
      align-items: flex-start;
    }
    .wrapper-one {
      width: 50%;
      justify-content: flex-start;
      align-content: flex-start;
    }
    .wrapper-two {
      order: 1;
      max-width: 600px;
    }
  }
</style>
