.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* position: fixed; */
    padding: 10px;
    backdrop-filter: blur(8px);
    background-color: var(--bg-white);
  }
  .nav-links {
    display: flex;
    gap: 55px;
    align-items: center;
    font-family: var(--second-font);
  }
  .nav-links-mobile {
    position: fixed;
    top: 114px;
    left: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    background: var(--second-tur);
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 50px;
    flex-direction: column;
    z-index: 9;
  }
  .logo-wrapper {
    margin: 5px 0 0px 15px;
    max-width: 130px;
  }
  .logo-wrapper img {
    width: 100%;
    object-fit: cover;
  }
  .contact-wrapper {
    display: flex;
    margin-left: auto;
  }
  .contact-icon {
    color: var(--main-pink);
    padding: 2.5px;
  }
  .fa-solid {
    margin: 7px;
    color: var(--base-orange);
  }
  .link, .link-mobile {
    font-family: var(--main-font);
    font-weight: 300;
    text-decoration: none;
    outline: none;
    color: var(--text-font);
    font-size: 1rem;
    transition: .3s all ease;
  }
  .link:hover, .link:focus {
    color: var(--main-pink);
  }
  .link-mobile {
    color: var(--bg-white);
  }
  .link-mobile:hover {
    color: var(--main-pink);
  }
  a[href='#contact'] {
    padding: 8px 25px;
    background-color: var(--bg-white);
    color: var(--main-pink);
    border-radius: 10px;
    transition: .3s all ease;
  }
  a[href='#contact']:hover {
    color: var(--second-tur);
    outline: 1px solid var(--base-white);
  }
  .navbar-underline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
      0.55turn,
      hsl(295, 29%, 67%),
      var(--main-pink),
      hsl(0, 30%, 75%)
    );
    border-image-slice: 1;
    width: 80%;
    margin: 0 auto;
  }
  

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 7px;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  .burger-line {
    background-color: var(--main-pink);
  }
  .burger-line:nth-child(1) {
    width: 34px;
    height: 1px;
    display: block;
  }
  /* .burger-line:nth-child(2) {
    width: 32px;
    height: 1px;
    display: block;
  } */
  .burger-line:nth-child(3) {
    width: 30px;
    height: 1px;
    display: block;
  }
  
  @media (max-width: 315px) {
    .nav-container {
      justify-content: center;
    }
    .hamburger {
      padding: 0;
    }
  }
  
  @media (min-width: 900px) {
    .nav-container {
      justify-content: center;
      
    }
    .contact-wrapper {
      margin-left: 20px;
    }
  }