---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
import PostList from '../components/Posts/PostList.astro';

const posts = await getCollection('posts');
---

<Layout title='#Blog'>
  <main>
    <SubPagesHeader heading='Agata Beauty Blog' />
    <div class='article-wrapper'>
      <article class='blog-section'>
        <PostList posts={posts} />
      </article>
    </div>
  </main>
</Layout>

<style>
  .blog-section {
    background-color: var(--base-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 900px) {
    .article-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .blog-section {
      max-width: 1140px;
    }
  }
</style>
