---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
import PostList from '../components/Posts/PostList.astro';

const posts = await getCollection('posts');
---

<Layout title='#Blog'>
  <main>
    <div class='header-wrapper'>
      <SubPagesHeader heading='Agata Beauty Blog' />
    </div>
    <div class='article-wrapper'>
      <article class='blog-section'>
        <PostList posts={posts} />
      </article>
    </div>
  </main>
</Layout>

<style>
  .blog-section {
    background-color: var(--base-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .article-wrapper {
    margin-top: 80px;
  }
  .header-wrapper {
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.3),
        hsla(0, 0%, 100%, 0.3)
      ),
      url('/blog-bg.webp');
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 900px) {
    .article-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .blog-section {
      max-width: 1140px;
    }
    .header-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
      background-position: center;
    }
  }
</style>
