---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
import PostList from '../components/Posts/PostList.astro';

const posts = await getCollection('posts');
---

<Layout title='#Blog'>
  <main>
    <div class='header-wrapper'>
      <SubPagesHeader heading='Agata Beauty Blog' />
    </div>
    <div class='article-wrapper'>
      <article class='blog-section'>
        <PostList posts={posts} />
      </article>
    </div>
  </main>
</Layout>

<style>
  .blog-section {
    background-color: var(--base-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .header-wrapper {
      background-image: linear-gradient(
          hsla(0, 0%, 100%, 0.5),
          hsla(0, 0%, 100%, 0.5)
        ),
        url('/bg-prices2.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;
      text-transform: uppercase;
    }
  @media (min-width: 900px) {
    .article-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .blog-section {
      max-width: 1140px;
    }
  }
</style>
