---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import PostList from '../components/Posts/PostList.astro';

const posts = await getCollection('posts');
---

<Layout title='#Blog'>
  <h1>Agata Beauty Blog</h1>
  <div>
    <article class='blog-section'>
      <PostList posts={posts} />
    </article>
  </div>
</Layout>

<style>
  h1 {
    padding: 180px 20px 0 20px;
  }

  .blog-section {
    background-color: var(--base-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 900px) {
    h1 {
      padding-top: 40px;
      text-align: center;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .blog-section {
      max-width: 1140px;
    }
  }
</style>
