---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection/Hero.astro';
import AboutSection from '../components/AboutSection/About.astro';
import OfferSection from '../components/OfferSection/Offer.astro';
import TeamSection from '../components/TeamSection/Team.astro';
---

<Layout title="Witaj na stronie Aloha BeautyLogic">
<main>
    <HeroSection/>
    <AboutSection />
    <OfferSection />
    <TeamSection />
</main>
</Layout>

<style>

</style>
