---
import Layout from '../layouts/Layout.astro';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
---

<Layout title='Cennik naszych usług'>
  <section class='prices-section'>
    <div class='header-wrapper'>
      <SubPagesHeader heading='Cennik Usług' />
    </div>

    <div class='info-header-wrapper'>
      <h3 class='prices-subheader'>
        Jeżeli masz pytania dotyczące oferowanych przez nas usług
      </h3>
      <a class='prices-link' href='#contact'
        >Skontakuj się z nami!
        <div class='prices-link-arrow'>
          <i class='fa-solid fa-circle-arrow-down'></i>
        </div>
      </a>
    </div>

    <div class='content-wrapper'>
      <h2 class='content-header'>Sprawdź naszą ofertę</h2>
      <div class='prices-container'>
        <table class='table table-left'>
          <caption> Kosmetologia Estetyczna</caption>
          <thead>
            <tr>
              <th>Botoks</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jedna okolica</td>
              <td>450 zł</td>
            </tr>
            <tr>
              <td>Dwie okolice</td>
              <td>800 zł</td>
            </tr>
            <tr>
              <td>Trzy okolice</td>
              <td>900 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Kwas hialuronowy</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Modelowanie czerwieni wargowej</td>
              <td>od 650 zł</td>
            </tr>
            <tr>
              <td>Modelowanie ust na płasko</td>
              <td>700 zł</td>
            </tr>
            <tr>
              <td>Bruzdy nosowo wargowe</td>
              <td>od 650 zł</td>
            </tr>
            <tr>
              <td>Linie marionetek</td>
              <td>od 650 zł</td>
            </tr>
            <tr>
              <td>Wolumetria twarzy</td>
              <td>od 1200 zł</td>
            </tr>
            <tr>
              <td>Podbródek</td>
              <td>od 650 zł</td>
            </tr>
            <tr>
              <td>Dolina łez</td>
              <td>od 700 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Stymulatory Tkankowe</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Karisma</td>
              <td>900 zł</td>
            </tr>
            <tr>
              <td>Filagen</td>
              <td>650 zł</td>
            </tr>
            <tr>
              <td>Electri</td>
              <td>550 zł</td>
            </tr>
            <tr>
              <td>Pluray</td>
              <td>800 zł</td>
            </tr>
            <tr>
              <td>Profihlo</td>
              <td>850 zł</td>
            </tr>
            <tr>
              <td>Ejal</td>
              <td>550 zł</td>
            </tr>
            <tr>
              <td>Nucleofil</td>
              <td>650 zł</td>
            </tr>
            <tr>
              <td>Restylane skinboosters</td>
              <td>700 zł</td>
            </tr>
            <tr>
              <td>Crystalys</td>
              <td>750 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Mezoterapia Mikroigłowa</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Twarz</td>
              <td>od 300 zł</td>
            </tr>
            <tr>
              <td>Twarz, szyja, dekolt</td>
              <td>od 450 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Mezoterapia Igłowa</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aquashine</td>
              <td>600 zł</td>
            </tr>
            <tr>
              <td>Twarz</td>
              <td>od 300 zł</td>
            </tr>
            <tr>
              <td>
                Twarz, szyja, dekolt<span class='td-microtext'
                  >(Neofound, Venome, Dives med, Ctocare, Filorga)</span
                >
              </td>
              <td>od 550 zł</td>
            </tr>
            <tr>
              <td>Okolica oka</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>Skóra głowy</td>
              <td>od 300 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Radiofrekwencja Mikroigłowa Infinite RF</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Twarz</td>
              <td>700 zł</td>
            </tr>
            <tr>
              <td>Twarz, szyja, dekolt</td>
              <td>1000 zł</td>
            </tr>
            <tr>
              <td>Rewitalizacja twarzy</td>
              <td>500 zł</td>
            </tr>
            <tr>
              <td>Rewitalizacja twarzy, szyja, dekolt</td>
              <td>800 zł</td>
            </tr>
            <tr>
              <td>Brzuch</td>
              <td>od 500 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Hi'FUSION</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Twarz</td>
              <td>1000 zł</td>
            </tr>
            <tr>
              <td>Owal twarzy</td>
              <td>700 zł</td>
            </tr>
            <tr>
              <td>Podbródek</td>
              <td>700 zł</td>
            </tr>
            <tr>
              <td class='last-cell-left'>Owal twarzy</td>
              <td class='last-cell-right'>700 zł</td>
            </tr>
          </tbody>
        </table>
        <table class='table table-right'>
          <caption> Kosmetyka Biała</caption>
          <thead></thead>
          <tbody>
            <tr>
              <td>Oczyszczanie wodorowe</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Oczyszczanie manualne</td>
              <td>od 150 zł</td>
            </tr>
            <tr>
              <td>Oczyszczanie medyczne</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Peeling Węglowy Laser Q switch</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Mikrodermabrazja</td>
              <td>od 140 zł</td>
            </tr>
            <tr>
              <td>Infuzja tlenowa</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>Peeling Kawitacyjny</td>
              <td>od 60 zł</td>
            </tr>
            <tr>
              <td>Mezoterapia bezigłowa</td>
              <td>od 100 zł</td>
            </tr>
            <tr>
              <td>Terapia na trądzik</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>Terapia przecistarzeniowa i liftingująca</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>
                Terapia skóry wrażliwej, naczyniowej i z trądzikiem różowatym
              </td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Terapia skóry z przebarwieniami</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>Terapia Medestelle</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>Terapia Yonelle</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Terapia Larens - opatentowany kompleks liposomalny</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Terapia Estgen - inżynieria tankowa</td>
              <td>od 200 zł</td>
            </tr>
            <tr>
              <td>Terapia PhFormula</td>
              <td>od 170 zł</td>
            </tr>
            <tr>
              <td>
                Zabiegi z Kwasami
                <span class='td-microtext'
                  >(mlekowy, migdałowy, azelainowy, kwiatowy, pirogonowy)</span
                >
              </td>
              <td>od 150 zł</td>
            </tr>
            <tr>
              <td>
                Kwasy medyczne
                <span class='td-microtext'
                  >(PgAge, BioRePeelCI3, M.E.L.A., płyn Jessnera)</span
                >
              </td>
              <td>od 200 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Laser Q Switch</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Laserowy peeling węglowy</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>Laserowe usuwanie makijażu permanentnego i tatuażu</td>
              <td>180 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Masaż</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Masaż Kobido</td>
              <td>150 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th class='sub-caption' colspan='2'>Makijaż permanentny</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Brwi(ombre, pudrowa)</td>
              <td>od 180 zł</td>
            </tr>
            <tr>
              <td>korekta do 1,5 roku</td>
              <td>400 zł</td>
            </tr>
            <tr>
              <td>Usta</td>
              <td>800 zł</td>
            </tr>
            <tr>
              <td>Korekta do 2 lat</td>
              <td>500 zł</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th>Powieki</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>zagęszczanie linii rzęs</td>
              <td>500 zł</td>
            </tr>
            <tr>
              <td class='last-cell-left'>kreska dekoracyjna i ceniowana</td>
              <td class='last-cell-right'>600 zł</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class='prices-photo'>
          <img
            class='prices-photo-img uno'
            src='./src/img/lipstick-medium.jpg'
            alt='cosmetics'
          />
          <img
            class='prices-photo-img dos'
            src='./src/img/brushes-medium.jpg'
            alt='cosmetics'
          />
          <img
            class='prices-photo-img tres'
            src='./src/img/cosmetic-medium.jpg'
            alt='cosmetics'
          />
          <img
            class='prices-photo-img quatro'
            src='./src/img/gallery-img4.png'
            alt='cosmetics'
          />
        </div> -->
      </div>
    </div>
  </section>
</Layout>

<style>
  .prices-section {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
  }
  .info-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 30px 20px 20px 20px;
    flex-direction: column;
    margin: 80px 20px 15px 20px;
    border: 1px solid var(--second-pink);
    background-color: var(--bg-white);
  }

  .prices-subheader {
    text-align: center;
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--text-font);
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 15px;
  }
  .prices-link {
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-font);
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 500;
    transition: 0.3s opacity ease-in;
    position: relative;
    transition: 0.3s all ease;
  }

  .prices-link-arrow {
    margin-top: 15px;
    font-size: 2rem;
    color: var(--text-font);
    transform: translateY(0);
    animation: jumping 2s infinite ease both;
  }
  .prices-link:hover {
    color: var(--medium-pink);
  }
  .header-wrapper {
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0.5)
      ),
      url('/bg-prices2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-transform: uppercase;
  }

  /* table styling */
  .content-wrapper {
    background-color: var(--bg-white);
    padding: 20px;
    display: flex;
    padding-top: 80px;
    flex-direction: column;
  }
  .content-header {
    text-align: center;
    padding: 0 5px 0px 5px;
    font-family: var(--main-font);
    font-weight: 500;
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 10px solid var(--logo-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--text-font);
    font-size: clamp(1.4rem, 2vw, 2rem);
  }
  .prices-container {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
  }
  .prices-photo {
    display: none;
  }
  .table {
    text-align: left;
    background-color: var(--bg-white);
    /* max-width: 45%; */
    font-family: var(--main-font);
    table-layout: auto;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-collapse: collapse;
  }
  caption {
    background-color: var(--bg-grey);
    color: var(--text-font);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    padding: 20px 0 20px 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-weight: 900;
  }
  th {
    background-color: var(--lightgrey);
    color: var(--bg-white);
    padding: 5px 0 5px 5px;
    font-size: 1.1rem;
  }
  .sub-caption {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: var(--bg-grey);
    color: var(--text-font);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--lightgrey);
    border-spacing: 10px;
  }
  td {
    background-color: var(--bg-grey);
    padding: 5px 0 5px 5px;
    font-size: 0.9rem;
    color: var(--black);
    border-bottom: 1px solid var(--lightgrey);
  }
  td:nth-child(2) {
    min-width: 77px;
    text-align: right;
    padding-right: 10px;
  }
  .td-transparent {
    color: transparent;
  }
  .td-microtext {
    font-size: 0.7rem;
    font-style: italic;
  }
  .last-cell-left {
    border-bottom-left-radius: 7px;
    border: none;
  }
  .last-cell-right {
    border-bottom-right-radius: 7px;
    border: none;
  }

  @media (min-width: 900px) {
    .prices-subheader,
    .prices-link {
      font-size: 1.3rem;
    }

    .info-header-wrapper {
      width: 600px;
      margin-left: auto;
      margin-right: 280px;
      margin-top: -80px;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--second-pink);
      background-color: var(--bg-white);
      box-shadow: 1px 9px 15px -14px rgba(110, 111, 118, 1);
    }
    .header-wrapper {
      justify-content: left;
      padding-left: 300px;
      background-size: cover;
      height: 360px;
    }
    .content-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 60px 20px 60px 20px;
      padding-bottom: 60px;
      width: 100%;
    }

    /* table styling */
    .content-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 60px 20px 60px 20px;
      padding-bottom: 60px;
      width: 100%;
    }
    .content-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 60px 20px 60px 20px;
      padding-bottom: 60px;
      width: 100%;
    }
    .content-header {
      font-size: 2.1rem;
    }
    .prices-container {
      align-items: flex-start;
      justify-content: center;
      width: 80%;
      flex-wrap: nowrap;
    }
    .prices-header {
      text-transform: uppercase;
    }
  }

  @keyframes jumping {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>
