---
import Layout from '../layouts/Layout.astro';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
import Icon from 'astro-icon';
---

<Layout title='Sklep internetowy Aloha Beauty Logic Clinic'>
  <div class='heading-wrapper'>
    <SubPagesHeader heading='Sklep w trakcie budowy' />
    <Icon class="icon" name="tools" width="100px"/>
  </div>
  <section>

  </section>
</Layout>

<style>
  .heading-wrapper {
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.7),
        hsla(0, 0%, 100%, 0.7)
      ),
      url('/bg-prices2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    display: flex;
    height: 600px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon {
    margin-top: 50px;
  }
  @media (min-width: 900px) {
    .icon {
      width: 200px;
    }
  }
</style>
