---
import Layout from '../layouts/Layout.astro';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
import { Image } from 'astro:assets';
import team from '../assets/team2.webp';
import WorkersBio from '../components/WorkersBio/WorkersBio.astro';
---

<Layout title='Poznaj nasz zespół ekspertek'>
  <main>
    <div class='heading-wrapper'>
      <SubPagesHeader heading='Aloha Team' />
    </div>
    <section class='about-section'>
      <div class='team-present'>
        <Image
          class='team-image'
          src={team}
          alt='beauty clinic woman workers'
        />
        <div class='about-container'>
          <h2 class='about-title'>Trochę o Nas...</h2>
          <p class='about-text'>
            Nasza klinika istnieje na rynku już ponad 10 lat. Nieustannie się
            szkolimy, rozwijamy, podążamy za trendami, dbamy o perfekcję i
            jakość świadczonych przez nas usług. Zapewniam Cię również, że nasz
            beautyteam nie jest przypadkowy. Każda z nas jest pasjonatką swojej
            pracy i dajemy 100% swojego zaangażowania w każdą Twoją wizytę.
          </p>
          <p class='about-text'>
            Zapraszam Cię zatem do naszego świata Aloha, zapoznaj się z naszą
            ofertą i celebruj z nami poczucie piękna
          </p>
          <p class='about-text right'>Właściciel kliniki</p>
          <p class='about-text right'>Agata Ambroziak</p>
        </div>
      </div>
    </section>
    <WorkersBio />
  </main>
</Layout>

<style>
  .about-section {
    overflow: hidden;
  }
  .heading-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    /* margin-bottom: 30px; */
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.4),
        hsla(0, 0%, 100%, 0.4)
      ),
      url('/bg-team4.webp');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center 90px;
    display: flex;
    height: 350px;
    align-items: flex-end;
    justify-content: center;
  }
  .team-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 7px;
  }
  .about-section {
    background-color: var(--second-pink);
    padding: 80px 20px;
    position: relative;
    color: hsl(297deg 36.4% 45.61%);
  }
  .about-section::before {
    content: '';
    position: absolute;
    background-image: url('/monstera-leaf.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: brightness(12);
    width: 250px;
    height: 350px;
    right: -100px;
    top: 200px;
  }
  .about-title,
  .about-text {
    color: var(--dark-violet);
  }
  .about-title {
    font-size: clamp(3rem, 3.5vw, 4rem);
    font-family: var(--main-font);
    padding-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .about-text {
    max-width: 1000px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    line-height: 29px;
    font-weight: 300;
  }
  .about-text.right {
    text-align: right;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 300;
  }
  .about-container {
    z-index: 100;
    position: relative;
    padding: 20px;
  }
  .about-container p:last-child {
    font-family: var(--dance-font);
    font-size: 1.5rem;
  }
  @media (min-width: 900px) {
    .about-title {
      margin-top: 0px;
      padding-right: 160px;
      text-align: left;
    }
    .about-text {
      text-align: left;
    }
    .heading-wrapper {
      justify-content: flex-start;
      align-items: center;
      padding-left: 300px;
      background-image: linear-gradient(
          hsla(0, 0%, 100%, 0.3),
          hsla(0, 0%, 100%, 0.3)
        ),
        url('/bg-team4.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 55px center;
      margin: 30px 0px;
      height: auto;
    }
    .team-present {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
    }
    .team-image {
      max-width: 35%;
      min-width: 350px;
    }
  }
</style>
