---
import Layout from '../layouts/Layout.astro';
import SubPagesHeader from '../layouts/SubPagesHeader.astro';
import { Image } from 'astro:assets';
import worker1 from '../assets/worker1.png';
import worker2 from '../assets/worker2.png';
import worker3 from '../assets/worker3.png';
import worker4 from '../assets/worker4.png';
---

<Layout title='Poznaj nasz zespół ekspertek'>
  <main>
    <div class='heading-wrapper'>
      <SubPagesHeader heading='Aloha Team' />
    </div>
    <section class='about-section'>
      <h2 class='about-title'>Trochę o Nas</h2>
      <p class='about-text'>
        " Coś o skrobne o nas Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Inventore commodi, totam porro molestiae, cumque
        quaerat dolorem, possimus quam sint molestias perspiciatis dolores est
        earum vero a reprehenderit
        <p class='about-text'>
          magnam eveniet nobis! Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Inventore commodi, totam porro molestiae, cumque
          quaerat dolorem, possimus quam sint molestias perspiciatis dolores est
          earum vero a reprehenderit magnam eveniet nobis! "
        </p>
      </p>
    </section>

    <section class='workers-section'>
      <h2 class='workers-subheader'>Poznaj zespół do zadań specjalnych!</h2>
      <div class='workers container'>
        <div class='worker' id='worker-one'>
          <div class='worker-image'>
            <Image
              class='worker-image-element'
              src={worker1}
              alt='beauty-worker'
            />
          </div>
          <div class='worker-info'>
            <h3 class='worker-name'>Dominika Wiśniewska</h3>
            <p class='worker-occupation'>mgr kosmetologii</p>
            <p class='worker-occupation'>manager salonu Beauty Logic</p>
            <p class='worker-description'>
              Z wykształcenia kosmetolog, na co dzień mama i doskonały kucharz.
              Kobieta od zadań specjalnych. Posiada nie tylko imponującą wiedzę
              z zakresu kosmetologii ale również doskonale wykorzystuje ją w
              swoich zdolnościach manualnych. Ekspert od pielęgnacji twarzy w
              zabiegach inwazyjnych jak i w kosmetyce białej.
            </p>
            <p class='worker-description'>
              Swoją pokaźną wiedzę zawdzięcza przede wszystkim sobie ponieważ z
              wielką dociekliwością i ogromnym zaangażowaniem ukończyła
              dziesiątki kursów i szkoleń. Nieustannie podąża za trendami w
              branży beauty dzięki czemu wykonuje wszystkie najbardziej pożądane
              zabiegi z zakresu kosmetyki i kosmetologii estetycznej.
            </p>
            <ul class='worker-specialization'>
              Ekspert od:
              <li class='worker-specialization-item'>
                Kosmetologia estetyczna
              </li>
              <li class='worker-specialization-item'>
                Zabiegi pielęgnacyjne twarzy
              </li>
              <li class='worker-specialization-item'>Makijaż permanentny</li>
              <li class='worker-specialization-item'>Manicure hybrydowy</li>
              <li class='worker-specialization-item'>
                Pedicure hybrydowy i medyczny
              </li>
              <li class='worker-specialization-item'>Depilacja laserowa</li>
              <li class='worker-specialization-item'>Piercing</li>
              <li class='worker-specialization-item'>Laminacja rzęs</li>
            </ul>
          </div>
        </div>

        <div class='worker' id='worker-two'>
          <div class='worker-image'>
            <Image
              class='worker-image-element'
              src={worker2}
              alt='beauty-worker'
            />
          </div>
          <div class='worker-info'>
            <h3 class='worker-name'>Aleksandra Bojarowicz</h3>
            <p class='worker-occupation'>kosmetyczka</p>
            <p class='worker-occupation'>stylistka paznokci</p>
            <p class='worker-description'>
              Jeśli oprócz profesjonalnej usługi szukasz ukojenia i mentalnego
              wsparcia to idealnie trafiłaś. Ola ponad wszystko ceni sobie
              zadowolenie klienta dlatego ustawiają się do niej kolejki.
              Manualna perfekcjonistka, która zadba o każdy szczegół. Niebywała
              kultura osobista i niezwykła gościnność to jej znak rozpoznawczy.
            </p>
            <ul class='worker-specialization'>
              Ekspert od:
              <li class='worker-specialization-item'>Masaż Kobido</li>
              <li class='worker-specialization-item'>
                Manicure hybrydowy i klasyczny
              </li>
              <li class='worker-specialization-item'>
                Pedicure hybrydowy i klasyczny
              </li>
              <li class='worker-specialization-item'>Stylizacja oprawy oka</li>
              <li class='worker-specialization-item'>
                Zabiegi pielęgnacyjne twarzy
              </li>
            </ul>
          </div>
        </div>

        <div class='worker' id='worker-three'>
          <div class='worker-image'>
            <Image
              class='worker-image-element'
              src={worker3}
              alt='beauty-worker'
            />
          </div>
          <div class='worker-info'>
            <h3 class='worker-name'>Milena Jackowska</h3>
            <p class='worker-occupation'>stylistka paznokci</p>
            <p class='worker-occupation'>stylistka rzęs</p>
            <p class='worker-description'>
              Kobieta „błyskawica”, która w ekspresowym tempie wykonuje usługi
              na najwyższym możliwym poziomie. Z wielką pasją tworzy
              najpiękniejsze rzęsy w Olsztynie czyniąc spojrzenia kobiet
              powalającymi. Z niezwykłą starannością zagęszcza i przedłuża rzęsy
              mając na uwadze indywidualne preferencje klienta. Jej specjalność
              to również manicure ekspres, który wykonuje w błyskawicznym
              tempie, wykorzystując swoją kreatywną naturę. Dlatego do niej
              możesz również zapisać się na tzw. wzorki.
            </p>
            <p class='worker-description'>
              Miłośniczka zwierząt, prywatne życie w większości spędza u boku
              labradorki Kofi , z którą przemierza długie spacerowe trasy.
            </p>
            <ul class='worker-specialization'>
              Ekspert od:
              <li class='worker-specialization-item'>Stylizacja rzęs</li>
              <li class='worker-specialization-item'>
                Manicure hybrydowy i żelowy
              </li>
              <li class='worker-specialization-item'>
                Pedicure hybrydowy i klasyczny
              </li>
            </ul>
          </div>
        </div>

        <div class='worker' id='worker-four'>
          <div class='worker-image'>
            <Image
              class='worker-image-element'
              src={worker4}
              alt='beauty-worker'
            />
          </div>
          <div class='worker-info'>
            <h3 class='worker-name'>Kinga Wowk</h3>
            <p class='worker-occupation'>kosmetolog</p>
            <p class='worker-occupation'>stylistka paznokci</p>
            <p class='worker-description'>
              „Królowa paznokci” to jej drugie imię, ponieważ jej niebywała
              precyzja jest zachwycająca. Serdeczna i zawsze uśmiechnięta co
              sprawia, że po wizycie u niej czujesz zastrzyk endorfin
            </p>
            <ul class='worker-specialization'>
              Ekspert od:
              <li class='worker-specialization-item'>
                Stylizacja paznokci hybrydowa i żelowa
              </li>
              <li class='worker-specialization-item'>
                Pedicure hybrydowy i klasyczny
              </li>
              <li class='worker-specialization-item'>Stylizacja oprawy oka</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .workers-section {
    display: flex;
    flex-direction: column;
    background: var(--bg-white);
    justify-content: center;
    align-items: center;
  }
  .heading-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.6),
        hsla(0, 0%, 100%, 0.6)
      ),
      url('/bg-team4.webp');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center 90px;
    display: flex;
    justify-content: center;
  }

  .workers-subheader {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    width: 80%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    border-bottom: 12px solid var(--logo-color-md);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--text-font);
    padding-bottom: 10px;
    word-break: break-word;
  }
  .worker {
    scroll-margin-top: 100px;
    margin-top: 20px;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--text-font);
    margin-bottom: 50px;
    padding: 20px;
    gap: 20px;
  }
  .worker-image {
    width: 100%;
  }
  .worker-image-element {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 7px;
  }
  .worker-info {
    padding-bottom: 20px;
    max-width: 450px;
  }
  .worker-name {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--logo-color-dark);
    margin-bottom: 5px;
  }
  .worker-occupation {
    opacity: 0.8;
    font-style: italic;
    margin: 0 0 7px 0;
  }
  .worker-description {
    font-size: 0.9rem;
  }
  .worker-description:nth-of-type(2n-1) {
    margin-bottom: 10px;
  }
  .worker-specialization {
    padding-left: 14px;
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .worker-specialization-item {
    font-style: italic;
  }
  .worker:nth-of-type(2n + 2) {
    background-color: var(--second-pink);
  }
  #worker-two .worker-image,
  #worker-four .worker-image {
    order: 0;
  }
  .about-section {
    background-color: var(--second-pink);
    padding: 80px 20px;
    color: var(--logo-color-md);
  }
  .about-title {
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: var(--main-font);
    padding-left: 0px;
    margin-bottom: 20px;
  }
  .about-text {
    max-width: 1000px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    line-height: 32px;
    font-weight: 300;
  }

  @media (min-width: 900px) {
    #worker-two .worker-image,
    #worker-four .worker-image {
      order: 1;
    }
    .about-title {
      padding-left: 100px;
    }
    .about-text {
      text-align: right;
    }
    .heading-wrapper {
      justify-content: flex-start;
      align-items: center;
      padding-left: 300px;
      background-image: linear-gradient(
          hsla(0, 0%, 100%, 0.4),
          hsla(0, 0%, 100%, 0.4)
        ),
        url('/bg-team4.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 55px center;
      margin: 30px 0px;

      /* background-image: none;
       background-image: linear-gradient(
      to right bottom,
      #e105ec,
      #cc11d5,
      #b717bf,
      #a21aa9,
      #8e1b94
    ); */
    }
    .workers-section {
      align-items: center;
      padding: 0;
    }
    .workers-subheader {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    .worker {
      margin-top: 0;
      flex-direction: row;
      width: 100%;
      align-items: center;
    }
    .worker-image {
      margin: 10px;
      max-width: 550px;
    }
    .worker-info {
      max-width: 45%;
    }
  }
</style>
