---

---

<section id='offers' class='offer-section'>
  <h2 class='offer-header'>Nasze usługi</h2>
  <span class='offer-underline'></span>
  <div class='offer-container'>
    <div class='offer one'>
      <h3 class='offer__title'>Kosmetologia estetyczna</h3>
      <img
        class='offer__image'
        src='./src/img/syringe.png'
        alt='syringe-image'
      />
      <p class='offer__description'>
        Kosmetologia estetyczna to dziedzina, która zajmuje się pielęgnacją
        skóry, włosów i paznokci w celu poprawy ich wyglądu i zdrowia. W naszym
        salonie wykonujemy zabiegi:
      </p>
      <ul class='offer__list'>
        <li class='offer__list-item'>botoks</li>
        <li class='offer__list-item'>kwas hialuronowy</li>
        <li class='offer__list-item'>mezoterapia igłowa</li>
        <li class='offer__list-item'>i wiele innych</li>
      </ul>
      <a class='offer__link' href='price-list.html'>
        <span class='offer__link-text'>Odkryj więcej</span>
        <svg
          class='offer__link-svg'
          viewBox='0 0 14 10'
          height='13px'
          width='21
            px'
        >
          <path d='M1,5 L11,5'></path>
          <polyline points='8 1 12 5 8 9'></polyline>
        </svg>
      </a>
    </div>

    <div class='offer two'>
      <h3 class='offer__title'>Kosmetologia biała</h3>
      <img
        class='offer__image'
        src='./src/img/face-mask3.png'
        alt='woman-with-face-mask'
      />
      <p class='offer__description'>
        W zabiegach kosmetycznych dla naszych klientów wykorzystujemy skuteczne
        i bezpieczne preparaty kosmetyczne w celu osiągnięcia najlepszych
        rezulatów.
      </p>
      <ul class='offer__list'>
        <li class='offer__list-item'>peeling (laser)</li>
        <li class='offer__list-item'>mikrodermabrazja</li>
        <li class='offer__list-item'>mezoterapia bezigłowa</li>
        <li class='offer__list-item'>i wiele innych</li>
      </ul>
      <a class='offer__link' href='price-list.html'>
        <span class='offer__link-text'>Odkryj więcej</span>
        <svg
          class='offer__link-svg middle'
          viewBox='0 0 14 10'
          height='13px'
          width='25
            px'
        >
          <path d='M1,5 L11,5'></path>
          <polyline points='8 1 12 5 8 9'></polyline>
        </svg>
      </a>
    </div>

    <div class='offer three'>
      <h3 class='offer__title'>Makijaż permanentny</h3>
      <img
        class='offer__image'
        src='./src/img/permament.png'
        alt='woman-with-permament-makeup'
      />
      <p class='offer__description'>
        Jakiś krótki tekst o makijaży permanentnym i zrobi poniżej odwołanie
        linkiem do podstrony z pełną ofertą
      </p>
      <ul class='offer__list'>
        <li class='offer__list-item'>brwi (ombre,pudrowa)</li>
        <li class='offer__list-item'>usta (korekty do 2 lat)</li>
        <li class='offer__list-item'>powieki (zagęszczanie rzęs)</li>
        <li class='offer__list-item'>i inne</li>
      </ul>
      <a class='offer__link' href='price-list.html'>
        <span class='offer__link-text'>Odkryj więcej</span>
        <svg
          class='offer__link-svg'
          viewBox='0 0 14 10'
          height='13px'
          width='21
            px'
        >
          <path d='M1,5 L11,5'></path>
          <polyline points='8 1 12 5 8 9'></polyline>
        </svg>
      </a>
    </div>
  </div>
</section>

<style></style>
  alt='syringe-image'
        />
        <!-- <p class='offer-description'>
          Kosmetologia estetyczna to dziedzina, która zajmuje się pielęgnacją
          skóry, włosów i paznokci w celu poprawy ich wyglądu i zdrowia. W naszym
          salonie wykonujemy zabiegi:
        </p> -->
        <!-- <ul class='offer-list'>
          <li class='offer-list-item'>botoks</li>
          <li class='offer-list-item'>kwas hialuronowy</li>
          <li class='offer-list-item'>mezoterapia igłowa</li>
          <li class='offer-list-item'>i wiele innych</li>
        </ul> -->
        <a class='offer-link' href='price-list.html'>
          <span class='offer-link-text'>Odkryj więcej</span>
          <svg
            class='offer-link-svg'
            viewBox='0 0 14 10'
            height='13px'
            width='21
              px'
          >
            <path d='M1,5 L11,5'></path>
            <polyline points='8 1 12 5 8 9'></polyline>
          </svg>
        </a>
      </div>

    <div class='offer five'>
      <h3 class='offer__title'>Pielęgnacja Ciała, Dłoni oraz Stóp</h3>
      <img
        class='offer__image'
        src='./src/img/face-mask3.png'
        alt='woman-with-face-mask'
      />
      <!-- <p class='offer__description'>
        W zabiegach kosmetycznych dla naszych klientów wykorzystujemy skuteczne
        i bezpieczne preparaty kosmetyczne w celu osiągnięcia najlepszych
        rezulatów.
      </p> -->
      <!-- <ul class='offer__list'>
        <li class='offer__list-item'>peeling (laser)</li>
        <li class='offer__list-item'>mikrodermabrazja</li>
        <li class='offer__list-item'>mezoterapia bezigłowa</li>
        <li class='offer__list-item'>i wiele innych</li>
      </ul> -->
      <a class='offer__link' href='price-list.html'>
        <span class='offer__link-text'>Odkryj więcej</span>
        <svg
          class='offer__link-svg middle'
          viewBox='0 0 14 10'
          height='13px'
          width='25
            px'
        >
          <path d='M1,5 L11,5'></path>
          <polyline points='8 1 12 5 8 9'></polyline>
        </svg>
      </a>
    </div>

    <div class='offer six'>
      <h3 class='offer__title'>Podologia</h3>
      <img
        class='offer__image'
        src='./src/img/permament.png'
        alt='woman-with-permament-makeup'
      />
      <!-- <p class='offer__description'>
        Jakiś krótki tekst o makijaży permanentnym i zrobi poniżej odwołanie
        linkiem do podstrony z pełną ofertą
      </p>
      <ul class='offer__list'>
        <li class='offer__list-item'>brwi (ombre,pudrowa)</li>
        <li class='offer__list-item'>usta (korekty do 2 lat)</li>
        <li class='offer__list-item'>powieki (zagęszczanie rzęs)</li>
        <li class='offer__list-item'>i inne</li>
      </ul> -->
      <a class='offer__link' href='price-list.html'>
        <span class='offer__link-text'>Odkryj więcej</span>
        <svg
          class='offer__link-svg'
          viewBox='0 0 14 10'
          height='13px'
          width='21
            px'
        >
          <path d='M1,5 L11,5'></path>
          <polyline points='8 1 12 5 8 9'></polyline>
        </svg>
      </a>
    </div>

    <div class='offer seven'>
        <h3 class='offer__title'>Wizaż</h3>
        <img
          class='offer__image'
          src='./src/img/permament.png'
          alt='woman-with-permament-makeup'
        />
        <!-- <p class='offer__description'>
          Jakiś krótki tekst o makijaży permanentnym i zrobi poniżej odwołanie
          linkiem do podstrony z pełną ofertą
        </p>
        <ul class='offer__list'>
          <li class='offer__list-item'>brwi (ombre,pudrowa)</li>
          <li class='offer__list-item'>usta (korekty do 2 lat)</li>
          <li class='offer__list-item'>powieki (zagęszczanie rzęs)</li>
          <li class='offer__list-item'>i inne</li>
        </ul> -->
        <a class='offer__link' href='price-list.html'>
          <span class='offer__link-text'>Odkryj więcej</span>
          <svg
            class='offer__link-svg'
            viewBox='0 0 14 10'
            height='13px'
            width='21
              px'
          >
            <path d='M1,5 L11,5'></path>
            <polyline points='8 1 12 5 8 9'></polyline>
          </svg>
        </a>
      </div>

      <div class='offer eight'>
        <h3 class='offer__title'>Dla Panów</h3>
        <img
          class='offer__image'
          src='./src/img/permament.png'
          alt='woman-with-permament-makeup'
        />
        <!-- <p class='offer__description'>
          Jakiś krótki tekst o makijaży permanentnym i zrobi poniżej odwołanie
          linkiem do podstrony z pełną ofertą
        </p>
        <ul class='offer__list'>
          <li class='offer__list-item'>brwi (ombre,pudrowa)</li>
          <li class='offer__list-item'>usta (korekty do 2 lat)</li>
          <li class='offer__list-item'>powieki (zagęszczanie rzęs)</li>
          <li class='offer__list-item'>i inne</li>
        </ul> -->
        <a class='offer__link' href='price-list.html'>
          <span class='offer__link-text'>Odkryj więcej</span>
          <svg
            class='offer__link-svg'
            viewBox='0 0 14 10'
            height='13px'
            width='21
              px'
          >
            <path d='M1,5 L11,5'></path>
            <polyline points='8 1 12 5 8 9'></polyline>
          </svg>
        </a>
      </div>

  </div>
</section>

<style>
.offer-section {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.offer-header {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 0 0px 0px;
    font-family: var(--logo-font);
    color: var(--lightgrey);
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: clamp(2.2rem, 4vw, 3.2rem);
}
.offer-underline {
    display: flex;
    height: 1px;
    width: 60%;
    background-color: var(--main-pink);
    margin-bottom: 30px;
}
.offer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
}
.offer {
    margin: 5px;
  background-color: var(--lightrose);
  border: 1px solid var(--main-pink);
  border-radius: 5px;
  display: flex;
  text-align:center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--black);
  height: 420px;
  max-width: 350px;
  padding: 20px;
}

</style>
