---
import Header from '../components/Navigation/Header';
import Contact from '../components/ContactSection/Contact.astro';
import Footer from '../components/FooterSection/Footer';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='pl'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Salon urody dla kobiet i mężczyzn. Usługi kosmetyczne, zabiegi, medycyna estetyczna'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo-icon.webp' />
   
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header client:only='react' />
    <slot />
    <Contact />
    <Footer />
    
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-padding-top: 140px;
    min-height: 200vh;
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
  }
  /* main-colors */
  :root {
    --base-green: hsl(166.25deg 71.38% 29.86%);
    --dark-violet: hsl(312, 14%, 14%);
    --bg-white: hsl(0, 0%, 100%);
    --text-font: #454545;
    --main-pink: hsl(329, 85%, 54%);
    --medium-pink: rgb(211, 156, 165);
    --logo-color: hsl(297, 96%, 47%);
    --logo-color-dark: hsl(297, 91%, 42%);
    --logo-color-md: hsl(297, 43%, 68%);
    --gradient-main: linear-gradient(
      to right top,
      #8e19ca,
      #9618c6,
      #9d18c2,
      #a319bf,
      #a91bbb
    );
    --second-pink: #f7ecf5;
    --darkgrey: #191a19;
    --lightgrey: hsl(0, 0%, 42%);
    --bg-grey: hsl(0, 20%, 96%);
    /* fonts */
    --main-font: 'Noto Sans', sans-serif;
    --logo-font: 'fontaine_regularregular', sans-serif;
    --dance-font: 'dancing_regular', cursive;
    /* --dance-font: 'Dancing Script', cursive; */
  }

  /* fonts */
  @font-face {
    font-family: 'fontaine_regularregular';
    src:
      url('/fonts/fontaine_regular-webfont.woff2') format('woff2'),
      url('/fonts/fontaine_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'dancing_medium';
    src:
      url('/fonts/dancing-script-v25-latin_latin-ext-500-webfont.woff2')
        format('woff2'),
      url('/fonts/dancing-script-v25-latin_latin-ext-500-webfont.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: cursive;
  }

  @font-face {
    font-family: 'dancing_regular';
    src:
      url('/fonts/dancing-script-v25-latin_latin-ext-regular-webfont.woff2')
        format('woff2'),
      url('/fonts/dancing-script-v25-latin_latin-ext-regular-webfont.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: cursive;
  }
  @font-face {
  font-display: swap; 
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2'); 
}

</style>

