---
export interface Props {
  heading?: string;
}

const { heading = 'Welcome' } = Astro.props as Props;
---

<section>
  <h1>
    {heading}
  </h1>
</section>

<style>
  h1 {
    font-size: clamp(1.8rem, 3vw, 4rem);
    padding: 180px 20px 40px 20px;
    text-align: left;
  }
  @media (min-width: 900px) {
    h1 {
      padding-top: 60px;
      padding-bottom: 80px;
      text-align: center;
    }
  }
</style>
