---
export interface Props {
  heading?: string;
}

const { heading = 'Welcome' } = Astro.props as Props;
---

<h1>
  {heading}
</h1>

<style>
  h1 {
    /* background-image: linear-gradient(
      to right bottom,
      #e105ec,
      #cc11d5,
      #b717bf,
      #a21aa9,
      #8e1b94
    ); */
    /* background-image: linear-gradient(
      to right bottom,
      #e105ec,
      #cc0fd6,
      #b815c1,
      #a418ac,
      #911997
    ); */
    /* text-shadow: 1px 1px 1px #6d225e; */
    color: var(--main-pink);
    font-size: clamp(2.3rem, 3vw, 4rem);
    padding: 180px 20px 60px 20px;
    text-align: left;
    font-family: var(--main-font);
  }
  @media (min-width: 900px) {
    h1 {
      padding-top: 60px;
      padding-bottom: 60px;
      color: var(--main-pink);

    }
  }
</style>
