---
export interface Props {
  heading?: string;
}

const { heading = 'Welcome' } = Astro.props as Props;
---

<h1>
  {heading}
</h1>

<style>
  h1 {
    background-image: linear-gradient(
      to right bottom,
      #e105ec,
      #cc11d5,
      #b717bf,
      #a21aa9,
      #8e1b94
    );
    color: var(--bg-white);
    font-size: clamp(1.8rem, 3vw, 4rem);
    padding: 180px 20px 60px 20px;
    text-align: left;
  }
  @media (min-width: 900px) {
    h1 {
      padding-top: 60px;
      padding-bottom: 80px;
      text-align: center;
    }
  }
</style>
