.person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-font);
  /* background: var(--second-pink); */
  margin: auto;
  border-radius: 7px;
  width: 260px;
  height: 350px;
  position: relative;
}
.person-foto {
  margin: 0 auto 0 auto;
}
.person-photo-worker {
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--second-pink);
}
.person-info {
  position: absolute;
  top: 40%;
  font-family: var(--main-font);
  padding-inline: 5px;
  text-align: center;
  background: var(--second-pink);
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
  gap: 15px;
  color: var(--text-font);
}
.person-info-title {
  background: transparent;
  padding: 30px 17px 0px 17px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--bg-black);
}
.person-info-text {
  max-width: 340px;
  padding: 7px;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 5px;
}
.person-info-link {
  color: var(--text-font);
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 0.8rem;
  font-family: var(--main-font);
  width: 50%;
  background-color: transparent;
  padding: 6px 12px;
  outline: 1px solid var(--text-font);
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.person-info-link:hover {
  background-color: var(--main-pink);
  color: var(--bg-white);
  outline: none;
}
