---
import TeamCards from './TeamCards.astro';
---

<section id='team' class='team-section'>
  <div class='team-welcome'>
    <div class='team-welcome-bg'></div>
    <h2 class='team-header'>Zaopiekujemy się Tobą</h2>
    <h3 class='team-subheader'>Poznaj nasze specjalistki</h3>
  </div>
<TeamCards />
</section>
