---
import TeamCard from './TeamCard';
---

<div class='persons-container'>
  <TeamCard client:only />
</div>

<style>
  .persons-container {
    padding: 30px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
  }
</style>
