---
import TeamCard from './TeamCard';
---
<div class='persons-container'>
    <TeamCard />

    <!-- <div class='person one'>
      <div class='person-photo'>
        <img
          class='person-photo-worker'
          src='./src/img/person-one-small.png'
          alt='woman'
        />
      </div>
      <div class='person-info'>
        <h3 class='person-info-title'>Dominika Wiśniewska</h3>
        <p class='person-info-text'>
          Kobieta od zadań specjalnych. Dominika posiada nie tylko imponującą
          wiedzę z zakresu kosmetologii ale również doskonale wykorzystuje ją w
          swoich zdolnościach manualnych.
        </p>
        <a href='team.html#worker-one' class='person-info-link'
          >Czytaj więcej</a
        >
      </div>
    </div>

    <div class='person two'>
      <div class='person-photo'>
        <img
          class='person-photo-worker'
          src='./src/img/person-one-small.png'
          alt='woman'
        />
      </div>
      <div class='person-info'>
        <h3 class='person-info-title'>Aleksandra Bojarowicz</h3>
        <p class='person-info-text'>
          Ola ponad wszystko ceni sobie zadowolenie klienta dlatego ustawiają
          się do niej kolejki. Niebywała kultura osobista i niezwykła gościnność
          to jej znak rozpoznawczy.
        </p>
        <a href='team.html#worker-two' class='person-info-link'
          >Czytaj więcej</a
        >
      </div>
    </div>

    <div class='person three'>
      <div class='person-photo'>
        <img
          class='person-photo-worker'
          src='./src/img/person-one-small.png'
          alt='woman'
        />
      </div>
      <div class='person-info'>
        <h3 class='person-info-title'>Milena Jackowska</h3>
        <p class='person-info-text'>
          Kobieta „błyskawica”, która w ekspresowym tempie wykonuje usługi na
          najwyższym możliwym poziomie. Z wielką pasją tworzy najpiękniejsze
          rzęsy w Olsztynie
        </p>
        <a href='team.html#worker-three' class='person-info-link'
          >Czytaj więcej</a
        >
      </div>
    </div>

    <div class='person four'>
      <div class='person-photo'>
        <img
          class='person-photo-worker'
          src='./src/img/person-one-small.png'
          alt='woman'
        />
      </div>
      <div class='person-info'>
        <h3 class='person-info-title'>Kinga Wowk</h3>
        <p class='person-info-text'>
          „Królowa paznokci” to jej drugie imię, ponieważ jej niebywała precyzja
          jest zachwycająca. Serdeczna i zawsze uśmiechnięta co sprawia, że po
          wizycie u niej czujesz zastrzyk endorfin
        </p>
        <a href='team.html#worker-four' class='person-info-link'
          >Czytaj więcej</a
        >
      </div>
    </div> -->
    
  </div>