.swiper {
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-top: 30px;
  }
  .swiper-wrapper {
    max-height: 400px;
  }
  .swiper-slide {
    text-align: center;
    background: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  
  .swiper-slide img {
    border-radius: 7px;
    display: block;
    width: 100%;
    object-fit: contain;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next, .swiper-button-prev {
    color: var(--text-font);
  }
  .swiper-pagination-bullet {
    background: red;
  }
  .swiper-pagination-bullet-active {
    background-color: rgb(102, 26, 39);
  }